.Root {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Ticker-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}